section {
  width: 300px;
  margin: 0 auto;
}

select {
  display: none;
}

.selex-wrapper {
  position: relative;
}

.selex-button {
  background: gray;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 20px;
}

.selex-options {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 40px;
  z-index: 10000;
  background: rgba(200,200,200,0.95);
}

.selex-option {
  padding: 5px 10px;
}

.selex-option:hover {
  background: white;
}
